In [1]:
import pandas as pd

In [85]:
# Import and prepare the dataset as done for previous questions
df = pd.read_csv("logins.txt.gz", compression='gzip', sep="\t", parse_dates=[[0,1]], header=None)

df[["First Letter", "Name"]] = df[2].str.split(".", expand=True)

df = df.rename(columns={'0_1':'Date_Time', 2:'Username', 3:'Action'})
df = df.reset_index(drop=True)

In [86]:
# Sort entries by date, then keep each employee's first clock-ins
#df = df.sort_values(by='Date')
firsts = df.drop_duplicates(subset=['Username'], keep='first')
firsts

                  Date_Time       Username Action First Letter         Name
0       2021-01-01 00:00:00        s.matta    OUT            s        matta
1       2021-01-01 00:05:00        s.paige    OUT            s        paige
2       2021-01-01 01:52:00  t.goldschmidt    OUT            t  goldschmidt
3       2021-01-01 01:54:00       t.hardin    OUT            t       hardin
4       2021-01-01 02:40:00        c.elson    OUT            c        elson
...                     ...            ...    ...          ...          ...
3247616 2021-11-08 07:26:00      j.pickett     IN            j      pickett
3248984 2021-11-08 08:28:00       n.ingram     IN            n       ingram
3584448 2021-12-13 07:50:00         a.pyle     IN            a         pyle
3655176 2021-12-20 00:02:00       l.bowens    OUT            l       bowens
3720651 2021-12-27 06:58:00     n.schaller     IN            n     schaller

[6279 rows x 5 columns]

In [87]:
firsts['Date_Time'].dt.date.unique()

array([datetime.date(2021, 1, 1), datetime.date(2021, 1, 2),
       datetime.date(2021, 1, 3), datetime.date(2021, 1, 4),
       datetime.date(2021, 1, 5), datetime.date(2021, 1, 6),
       datetime.date(2021, 1, 7), datetime.date(2021, 1, 8),
       datetime.date(2021, 1, 9), datetime.date(2021, 1, 10),
       datetime.date(2021, 1, 11), datetime.date(2021, 2, 1),
       datetime.date(2021, 2, 8), datetime.date(2021, 3, 1),
       datetime.date(2021, 3, 8), datetime.date(2021, 4, 19),
       datetime.date(2021, 5, 3), datetime.date(2021, 5, 10),
       datetime.date(2021, 5, 17), datetime.date(2021, 7, 5),
       datetime.date(2021, 7, 26), datetime.date(2021, 8, 2),
       datetime.date(2021, 8, 9), datetime.date(2021, 8, 16),
       datetime.date(2021, 8, 23), datetime.date(2021, 8, 30),
       datetime.date(2021, 9, 7), datetime.date(2021, 10, 4),
       datetime.date(2021, 10, 11), datetime.date(2021, 11, 8),
       datetime.date(2021, 12, 13), datetime.date(2021, 12, 20),
       datetime.date(2021, 12, 27)], dtype=object)

In [89]:
# Above we saw that there is a limited number of unique first days for employees. 
# The first 11 days of January are accounted for, then the next starting day is 02/01/2021.
# It seems likely that 02/01/2021 is the first hiring date.

# Since there are no new employees after 12/2021, we can filter with month>1. 
hires = firsts[firsts['Date_Time'].dt.month > 1]
hires

                  Date_Time     Username Action First Letter       Name
317509  2021-02-01 08:23:00      j.vroom     IN            j      vroom
388979  2021-02-08 01:01:00    c.glennon    OUT            c    glennon
390623  2021-02-08 06:34:00      c.allen     IN            c      allen
603824  2021-03-01 01:05:00   m.guerette    OUT            m   guerette
606687  2021-03-01 07:31:00      w.swift     IN            w      swift
679191  2021-03-08 01:56:00   r.penalosa    OUT            r   penalosa
1129557 2021-04-19 01:30:00   j.saunders    OUT            j   saunders
1279142 2021-05-03 00:23:00        j.155    OUT            j        155
1357327 2021-05-10 07:55:00         c.56     IN            c         56
1431549 2021-05-17 07:27:00   v.sinclair     IN            v   sinclair
1432178 2021-05-17 07:57:00     j.lucero     IN            j     lucero
1930292 2021-07-05 01:05:00    d.wiseman    OUT            d    wiseman
2155064 2021-07-26 06:37:00       j.shea     IN            j       shea
2155426 2021-07-26 06:58:00     s.knight     IN            s     knight
2230273 2021-08-02 07:00:00    f.foulkes     IN            f    foulkes
2303279 2021-08-09 05:58:00      d.sabad     IN            d      sabad
2305455 2021-08-09 07:32:00     l.mawyer     IN            l     mawyer
2377236 2021-08-16 03:06:00       k.buck    OUT            k       buck
2379687 2021-08-16 07:33:00   b.paradiso     IN            b   paradiso
2451614 2021-08-23 05:55:00        j.156     IN            j        156
2525946 2021-08-30 05:59:00   k.estrella     IN            k   estrella
2603587 2021-09-07 08:32:00      f.ortiz     IN            f      ortiz
2889410 2021-10-04 08:26:00        t.fry     IN            t        fry
2959614 2021-10-11 01:32:00  r.archibald    OUT            r  archibald
3247616 2021-11-08 07:26:00    j.pickett     IN            j    pickett
3248984 2021-11-08 08:28:00     n.ingram     IN            n     ingram
3584448 2021-12-13 07:50:00       a.pyle     IN            a       pyle
3655176 2021-12-20 00:02:00     l.bowens    OUT            l     bowens
3720651 2021-12-27 06:58:00   n.schaller     IN            n   schaller

In [90]:
# Above are all the employees that were hired last year. In total there are:
len(hires)

29